
<div style="text-align:center">
          <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img src="assets/img/post-single-1.jpg"></ng-template>  
          <ng-template carouselSlide><img src="assets/img/post-single-2.jpg"></ng-template>  
          <ng-template carouselSlide><img src="assets/img/slide-2.jpg"></ng-template> 
          <ng-template carouselSlide><img src="assets/img/post-single-1.jpg"></ng-template>  
          <ng-template carouselSlide><img src="assets/img/post-single-2.jpg"></ng-template>  
        </owl-carousel-o>
      </div>
<app-services></app-services>
<app-properties></app-properties>

<app-agents></app-agents>
<!-- <angular-image-slider [images]="imagesUrl"></angular-image-slider> -->


<app-footer></app-footer>